*{
    margin: 0;
    padding: 0;
}
      /* header section */
.header{
    background-color:rgba(255, 144, 14, 0.1); ;
    width: 100%;
    height: 100%;
}
.header-right-side{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    align-items: center;
}
.logo, .title-name{
    color:#131313;
}
.logo{
    font-weight: 700;
    font-size: 20px;
}
.nav{
    display: flex;
    gap: 50px;
    list-style-type: none;
    font-weight: 500;
    font-size: 18px;
}
.nav li> a{
    text-decoration:none;
    color: #424242;
}
.title{
    text-align: center;
    line-height: 25px;
}
.title-name{
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 24px;
}
.title-description{
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    line-height: 20px;
}
.btn-1{
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 22px 22px ;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 180px;
    height: 64px;
    align-items: center;
    background-color: orange;
    border: 0;
    border-radius: 5px;
    }
.banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-bottom: 45px;
}
/* main section? */
.main{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
}
.section-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.section-2-image> img{
    width: 342px;
    height: 342px;
    }
.section-2-image{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 8px;
    gap: 10px;
}
.title-section-2{
    margin-left: 50px;
}
.title-2{
    font-weight: 500;
    font-size: 45px;
}
.title-color-1{
    color: #727272;
}
.title-color-2{
    color: #131313;
}
.title-color-3{
    color:#FF900E;
}
.title-2-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}
.btn-2{
        margin-top: 20px;
        padding: 22px 22px ;
        font-weight: 600;
        font-size: 20px;
        color: #FFFFFF;
        width: 180px;
        height: 64px;
        align-items: center;
        background-color: orange;
        border: 0;
        border-radius: 5px;
}
/* next section-3 */
.section-3{
    display: flex;
    gap: 100px;
    background-color: rgb(255, 255, 255);
}
.title-section-3{
    display: flex;
}
.hr{
    width: 5px;
    height: 106px;
    background-color: #FF900E;
    margin-right: 21px;
}
.title-section-3-main-title{
    font-weight: 700;
    font-size: 45px;
    align-items: center;
    margin: 5px 0 0 0;
}
.title-section-3-sub-title{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.title-section-3-description{
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-left: 0;
}
.secound-img> img{
    width: 558px;
    height: 812px;
    border-radius: 8px;
}
.btn-3{
    padding: 16px 16px ;
    font-weight: 600;
    font-size: 20px;
    color: #fffffffa;
    width: 302px;
    height: 160px;
    background-color: orange;
    border: 0;
    border-radius: 5px;
    text-align: center;
    margin-top: -130px;
    margin-left: -70px;
}
.experince-year{
    font-weight: 700;
    font-size: 65px;
}
.sec-des{
    background:#ffffffd2;
    border: 1px snow whitesmoke;
}
/* section-3 */
.section-4{
    line-height: 26px;
    margin-top: 120px;
}
.section-4-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom:20px;
}
.section-4-des{
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}
.section-5{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.border{
    border: 1px solid;
    color: #FF900E;
    width: 241.83px;
    height: 241.83px;
    border-radius: 8px;
}
.border, .img, .section-5-title, .section-5-des{
    margin-bottom: 5px;
}
.img{
    width: 45.22px;
    height: 45.22px;
    padding-top: 50px;
    padding-left:98px;
    padding-right: 98px;
    margin: 0;

}
.section-5-title{
    text-align: center;
    font-weight: 600;
    font-size: 45px;
    color: #424242;
    margin: 0;

}
.section-5-des{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    color: #727272;
    margin: 0;

}
.section-6{
    margin-top: 140px;
    text-align: center;
}
.section-6-title{
    margin: 0;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}
.section-6-des{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;

}
.section-7{
    display: flex;
    justify-content: space-between;

}
.sponspors{
    width: 166.76px;
    height: 50px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    margin-top: 20px;
    margin-bottom: 170px;
}
/* footer section */
.footer{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid #FFF4E7;
    width: 1440px;
    height: 100px;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 254px;
    align-items: center;
}
.footer-inf{
    margin: 0;
    padding-top:11.5px;
    font-weight: 400;
    font-size: 20px;
    color: #424242;
    margin-bottom: 254px;
    text-align: center;
   
}
.btn-1:hover{
    background-color: green;
    padding-left: 30px;
}
.btn-2:hover{
    background-color: green;
    padding-right: 30px;
}
.btn-3:hover{
    background-color: green;
    padding-right: 30px;
}
.border:hover{
     background-color: rgb(248, 165, 11);
}

/* responsive section */
@media only screen and (max-width:688px) {
    .header{
        display: block;
        margin: 0;
        padding: 0;
        gap: 20px;
    }
    .header-right-side{
        display: block;
        font-size: 15px;
        padding-top: 10px;
        padding-left: 0px;
        word-wrap: no-wrap;
    }
    .nav{
        display:block;
        margin-left: 50px;
        font-weight: 6px;
        color: #131313;
        padding-top:20px ;
        padding-bottom: 0;
        margin-bottom: 0;
      
    }
    .title-description{
        text-align: center;
        margin-left: 5px;
        margin-right: 5px;
        line-height: 25px;
   }
   .banner{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-bottom: 45px;
    }
    .section-2{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }
    .section-2-image> img{
        width: 100%;
        height: 100%;
    }
    .section-2-image{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .title-section-2{
        margin-left:0;
    }
    .title-2{
        font-weight: 500;
        font-size: 30px;
    }
    
    .title-2-description{
        font-weight: 400;
        font-size: 15px;
    }
    .btn-2{
            margin-top: 20px;
            padding: 22px 22px ;
            font-weight: 600;
            font-size: 20px;
            width: 180px;
            height: 64px;
            border: 0;
            border-radius: 5px;
    }
/* next section-3 */
.section-3{
    display: block;
    gap: 30px;
}
.title-section-3{
    display: flex;
}
.hr{
    width: 5px;
    height: 90px;
    background-color: #FF900E;
    margin-right: 21px;
    margin-top: 0;
}
.secound-img> img{
    width: 400px;
    height: 600px;
    border-radius: 8px;
}
.btn-3{
    width: 282px;
    height: 140px;
    padding-right: 10px;
    margin-bottom: 0;
}
.experince-year{
    margin-top: 0;
    font-weight: 700;
    font-size: 50px;
    padding-left: 40px;
}

.section-5{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.section-7{
    display: block;
    justify-content: center;

}
.sponspors{
    margin: 0;
    padding-left:60px ;
    width: 50%;
    height: 50%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
/* footer section */
.footer{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border: 1px solid #FFF4E7;
    height: auto;
    background-color: #FFF4E7;
    border-radius: 8px;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
}
.footer-inf{
   padding-left: 20px;
   padding-right: 20px;
   word-wrap: break-word;
   padding-top: 50px;
   
}
}